.dashboard {
  padding: 0rem 2rem 2rem 2rem;
}

.dashboard_addcoin {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.add_button {
  border: none;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-family: var(--font-family);
  border-radius: 5px;
  font-size: 14px;
  align-items: center;
  box-shadow: 0px 8px 15px rgba(223, 153, 24, 0.1);
  transition: all 0.3s ease 0s;
}
.add_button:hover {
  transform: translateY(3px);
  color: #fff;
  background-color: #e0b36a;
  box-shadow: 0px 15px 20px rgba(229, 195, 46, 0.4);
}
.dashboard_addcoin button {
  align-items: center;
  background-color: var(--color-sidebar);
  color: var(--color-text);
  justify-content: center;
}
.dashboard_addcoin h2 {
  color: var(--color-mustard);
  font-weight: bold;
}
.dashboard_coins {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.unsync {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
  cursor: pointer;
}
.sync {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
  color: var(--color-purple);
  cursor: pointer;
}
.dashboard_sync__container h4 {
  padding-left: 0.5rem;
}
/* .dashboard_sync__container_icon {
  color: var(--color-purple);
} */

.dashboard_sort {
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1.5rem 1rem;
}
